[Unit]
Description=Jupyter Notebook
Requires=local-fs.target
After=local-fs.target

[Service]
ExecStart=/usr/local/bin/jupyter-notebook --ip 0.0.0.0 --notebook-dir /home/vagrant/
User=vagrant

[Install]
WantedBy=multi-user.target
